footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(97,0,157,1) 0%, rgba(168,74,255,1) 100%);
    padding-top: 1%;
    padding-bottom: 1%;
    margin:20% 0 0 0;
    color: white;
    text-align: center;
}
.footer-flex-container{
    display: flex;
    flex-direction: column;
    
}
.footer-flex-items{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center
    
}
footer a{
    color:white;
}
footer a:hover{
    color:rgb(22, 255, 38)
}
