.product-page{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-content: center;
    
}


.sidebar-single-page{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-right: 5%;
    background-color: #ffffff;
    box-shadow: 2px 4px 10px #eaeaea;
    max-height: 840px;
}
.sidebar-single-page a:hover{
    color:#b300ff;
}

.product-info{
    max-width: 548px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    background-color: #ffffff;
    box-shadow: 2px 4px 10px #eaeaea;
    height: auto;
}


@media only screen and (max-width: 800px) {
    .product-page{
        flex-direction: column-reverse;
        align-items: center;
    }
    
    
    .sidebar-single-page{
        margin-top: 30px;
        margin-left: 0px !important;
        min-width: 548px;
        max-width: 548px;
    } 
    .product-info{
        margin: 0;
    }
}
@media only screen and (max-width: 575px) {
    
    .sidebar-single-page{
        min-width: 300px;
        max-width: 300px;
    } 
    .product-info{
        max-width: 300px;
    }
    .product-info img{
        min-width: 250px !important;
        max-width: 250px !important;
        height: 165px !important;
        object-fit: cover;
    }
}